[Unit]
Description=Team5 HU Qt App
After=videoplay.service weston.service connman.service network-online.target
Requires=videoplay.service weston.service
Wants=videoplay.service weston.service connman.service network-online.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=wayland
Environment=XDG_RUNTIME_DIR=/run
Environment=WAYLAND_DISPLAY=wayland-0

Environment=COMMONAPI_CONFIG=/opt/HU_someip/commonapi-someip.ini
Environment=VSOMEIP_CONFIGURATION=/opt/HU_someip/json/HU.json
Environment=VSOMEIP_APPLICATION_NAME=HU-app
Environment=LD_LIBRARY_PATH=/usr/lib:/usr/local/lib

ExecStart=/usr/bin/appTEAM5_HU

Restart=always

[Install]
WantedBy=graphical.target
